html,
body {
    height: 100%;
    width:  100%;
    margin: 0;
}

body {
    display: flex;
    background-color: rgb(218, 173, 218);
}

form {
    border-radius:10px;
    margin: auto;
    background-color: rgb(250, 245, 250);
    padding: 30px 50px;
}

.form_input {
    /* border-bottom: 1px solid rgb(85, 84, 84); */
    outline: 0px;
    margin: 10px 0;
    border-width: 0px 0px 1px 0px;
    background-color: rgb(250, 245, 250);
}
.fontweight{
    font-weight: bold;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.loginbutton {
    border-radius: 100px;
    margin: 30px 0px 20px 0px;
    border: none;
    padding: 5px 100px;
    background-color: rgb(100, 44, 100);
}
.fontnsize{
    color:rgb(247, 245, 245); 
    font-size:20px;
}
.forgot{
    border: none;
    background-color: rgb(250, 245, 250);
    margin: 20px 0px 0px 0px;
}
.circle {
    border-radius: 200px;
    margin: 0px 5px;
    border: none;
    height: 30px;
    aspect-ratio: 1/1;
}

.facebook {
    background-color: rgb(31, 31, 131);

}

.twitter {
    background-color: aqua;
}

.google {
    background-color: rgb(177, 51, 76);
}
.signupbutton{
    border: none;
    background-color: rgb(250, 245, 250);
}
.psignup{
    margin-top: 100px;
}

.form-inputs{
    display: flex;
    flex-direction: column;
}